@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #ffffff; /* Putih tajam untuk teks utama */
  -webkit-font-smoothing: antialiased;
}

/* Menajamkan Font Abu-abu agar tidak Blur */
.text-gray-400 {
  color: #a1a1aa !important; /* Abu-abu yang lebih cerah dan tajam */
}

.text-gray-500 {
  color: #71717a !important;
}

/* Luxury Card Effect */
.luxury-card {
  @apply bg-[#0a0a0a] border border-[#222] hover:border-[#D4AF37]/50 transition-all duration-500;
}